/*Botón de whatsapp*/
.appWhatsapp {
    position: fixed;
    left: 15px;
    bottom: 20px;
    width: 65px;
    z-index: 1000;
}

.appWhatsapp img{
    width: 100%;
    height: auto;
}

#objetivos {
    font-size:300%;
    text-align:center;
    margin-bottom:50px;
}
  